.About-know {
  background-color: #9eff41;
  transform: skew(-8deg);
  transform-origin: 0 0;
}

.About-normal {
  transform: skew(8deg);
  width: 85%;
  margin: 0 auto;
}

.About-list  {
  display: grid;
  justify-content: center;
}

.About-item {
  font-size: 18px;
}
