.About-know {
  transform: skew(-8deg);
  transform-origin: 0 0;
  background-color: #fcfcfc;
  color: #4c4c4c;
}

.About-normal {
  transform: skew(8deg);
  width: 85%;
  margin: 0 auto;
}

.About-list  {
  display: grid;
  justify-content: center;
}

.About-item {
  font-size: 18px;
  margin-top: 5px;
}
