.About {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 70vh;
  color: white;
  background-color: #9eff41;
}

.About-me, .About-know {
  height: 100%;
}
.About-container {
  width: 90%;
  margin: 0 auto;
}

.About-me {
  background-color: #27bc88;
}

.About-title {
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2rem;
}

.About-text {
  font-size: 17px;
  margin-top: 3rem;
}
