.About {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 65vh !important;
  color: #fcfcfc;
  background-color: #fcfcfc;
}
.About-me, .About-know {
  height: 100%;
}
.About-container {
  width: 90%;
  margin: 0 auto;
}

.About-me {
  background-color: #292929;
}

.About-title {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 500;
}

.About-title::after {
  content: '';
  position: absolute;
  border-bottom: 5px solid;
  display: block;
  width: 100px;
  transition: all linear .3s;
}
.About-container:hover > .About-title::after { width: 38%; }
.About-normal:hover > .About-title::after {
  width: 39%;
}

.About-text {
  font-size: 22px;
  margin-top: 3rem;
  line-height: 41px;
}
