.Home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #9eff41;
}
.Home-presetation {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9eff41;
}
.Home-title {
  position: absolute;
  left: 25px;
  width: 100%;
  color: white;
  font-size: 4rem;
}

.Home-logo {
  height: 100%;
  background: #27bc88;
  clip-path: polygon(24% 0, 100% 0, 100% 50%, 100% 100%, 0% 100%);
}
