.Home {
	height: 63vh;
	background-color: #101010;
	color: white;
	padding-top: 56px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	position: relative;
}

.Home-slogan {
	font-size: 40px;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.Home-box {
	width: 60%;
}

.Home-present {
	font-size: 40px;
	width: 100%;
	text-align: center;
}

.Home-info {
	margin-top: 10px;
	text-align: center;
	font-size: 22px;
	line-height: 1.5;
}

.Home-info-box {
	position: absolute;
	z-index: 1;
  bottom: -10rem;
	width: 65%;
  height: 17rem;
	margin: 0 auto;
	display: flex;
	clip-path: polygon(50% 0%, 100% 0, 100% 70%, 50% 100%, 0 70%, 0 0);
  padding: 10px 42px;
	border-radius: 18px;
	background-color: #0f0f0f;
}