.sticky {
  background-color: white;
}

.Header {
  position: fixed;
  z-index: 11111;
  display: flex;
  align-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  padding-top: 10px;
}

.Header-logo {
  height: 50px;
  width: 80px;
  margin-right: 5px;
  margin-left: 10%;
}

.Header-list {
  display: flex;
  list-style: none;
}

.Header-item a {
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #888484;
  transition: color .3s;
  font-size: 13px;
}

.Header-item a:hover {
  color: black;
}
