.sticky {
  box-shadow: 0 3px 2.5px rgba(0, 0, 0, 0.4);
}

.Header {
  position: fixed;
  z-index: 111;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  background-color: #101010;
  height: 56px;
  transition: box-shadow .3s;
}

.Header-flex {
  display: flex;
  align-items: center;
  align-content: center;
}

.Header-logo {
  height: 50px;
  width: 80px;
}

.Header-title {
  color: white;
  font-size: 22px;
  font-weight: 500;
  user-select: none;
}

.Header-content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}


.Header-list {
  display: flex;
  list-style: none;
}

.Header-item {
  margin-right: 10px;
}

.Header-item a {
  align-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  transition: color .3s;
  font-size: 13px;
  padding: 8px 15px;
  border-radius: 3px;
  transition: all linear .3s;
}

.Header-item a:hover {
  background-color: rgba(245, 245, 245, 0.2);
}
