@import "../../config.scss";

.Header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  height: 44px;
  background-color: #fffbe6;

}

.Header-logo {
  width: 55px;
  height: 40px;
  display: flex;
  margin-top: 5px;
}

.Header-nav {
  display: flex;
  align-items: center;
  align-content: center;
}

.Header-menu {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  margin-right: 15px;
}

.Header-menu-item {
  margin-left: 15px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  align-content: center;
  border-radius: 3px;
  cursor: pointer;

  transition: all ease .3s;

  &:hover {
    background: $black;
    color: #fffbe6;
  }

  &.active {
    background: $black;
    color: #fffbe6;
  }
}