@import "../../config.scss";

.Header {
  width: 100%;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  height: 44px;
  background-color: $primary;
}

.Header-logo {
  width: 55px;
  height: 40px;
  display: flex;
  margin-top: 5px;
}

.Header-nav {
  display: flex;
  align-items: center;
  align-content: center;
}

.Header-menu {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  margin-right: 15px;
}

.Header-menu-item {
  margin-left: 15px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  align-content: center;
  cursor: pointer;

  transition: all ease .3s;
  position: relative;

  &::after {
    content: "";
    transition: all ease .3s;
    background: $accent;
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }

  &:hover {
    &::after {
      width: 50%;
    }
  }

  &.active {
    &::after {
      width: 50%;
    }
  }

}
