.ProjectsLayout {
  background-color: #fcfcfc;
  color: #4c4c4c;
}
.Projects {
  margin-top: 1rem;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.Projects-title {
  padding: 2rem 2rem;
  font-size: 40px;
  position: relative;
  font-weight: 500;
}
.Projects-title::after {
  content: '';
  position: absolute;
  border-bottom: 5px solid #4c4c4c;
  display: block;
  width: 100px;
  transition: all linear .3s;
}
.ProjectsLayout:hover > .Projects-title::after {
  width: 190px;
}
.ProjectItem {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  min-height: 250px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.ProjectItem-title {
  font-size: 40px;
}