.MainContainer {
  overflow: auto;
}

.Portfolio {
  background-color: #101010;
  width: 100%;
  min-height: 100vh;
}

.PortfolioContent {
  background: white;
  width: 98%;
  margin-left: 2%;
  min-height: 98vh;

  position: relative;
  top: 4rem;
}