body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}
