.Header {
  position: fixed;
  bottom: 0;
  left: 10%;
  z-index: 1111;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: green;
}

.Header-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.Header-list li {
  padding: 1rem;
  cursor: pointer;
  border-top: 6px solid transparent;
  transition: border-top .3s linear;
  color: white;
}

.Header-list li:hover {
  border-top: 6px solid;
}
