.Header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  aling-items: center;
}

.Header-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.Header-list li {
  padding: 1rem;
  cursor: pointer
}
