.Service-name {
  font-size: 22px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 2.5rem;
}

.TechnologyJarl {
  min-height: 100vh;
  padding-bottom: 20px;
  padding-top: 80px;
}

.TechnologyJarl-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 1rem;
}
.TechnologyJarl-tech {
  width: 90%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
  grid-gap: 15px;
}

.TechnologyJarl-item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 82px;
  height: 75px;
}

.TechnologyJarl-media {
  height: 100%;
  width: 100%;
}