@import "../../config.scss";

.Home {
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: $primary

}
.Home-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 70%;
  align-items: center;
}

.Home-title {
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: normal;
}

.Home-tags {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 17px;

  span {
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    transition: all ease .3s;
    border-radius: 3px;
  }

  span:hover {
    background: $text;
    color: #fffbe6;
    cursor: pointer;
  }
}

.Home-social {
  width: 100%;
  display: flex;
  justify-content: center;
  svg {
    width: 30px;
    height: 30px;
  }

  a {
    margin-left: 25px;
  }
}


.Home-description {
  margin: 1rem auto;
  line-height: 30px;
  font-size: 18px;
}


.Home-logo {
  display: flex;
  position: relative;
  justify-content: flex-end;
}

.Home-logo-a,
.Home-logo-r {
  font-size: 17rem;
  font-weight: 300;

}

.Home-logo-a {
  color: $text;
  position: relative;
  z-index: 1;
  left: 80px;
}
.Home-logo-r {
  color: $accent;
  position: relative;
  top: 35px;
}